.info_container.payments {
    padding-top: 24px;
    display: flex;
    gap: 24px;
}
.date-pickert-with-payments-info {
    max-width: 567px;
    width: 100%;
}
.date-picker-with-info {
    display: flex;
    gap: 16px;
}
.date-picker,.payments-info {
    max-width: 250.52px;
    width: 100%;
}
span.middle-border {
    width: 1px;
    height: 210px;
    background: #CCCCCCB2;
}
.payments-text {
    display: flex;
    gap: 8px;
    align-items: center;
    max-height: 30px;
    height: 100%;
}
span.overdue-dot {
    width: 8px;
    height: 8px;
    background: #EF1717;
    border-radius: 50%;
}
span.due-dot {
    width: 8px;
    height: 8px;
    background: #EFDD17;
    border-radius: 50%;
}
.payments-text.overdue-info-text {
    margin-bottom: 8px;
}
button.Polaris-DatePicker__Day.Polaris-DatePicker__Day--selected {
    background: #EBEBEB;
    color: #303030;
    padding: 7px 11px 7px 16px;
    position: relative;
}
button.Polaris-DatePicker__Day.Polaris-DatePicker__Day--next-selected{
    padding: 7px 7px 7px 14px;
}
button.Polaris-DatePicker__Day.Polaris-DatePicker__Day--selected:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #EF1717;
    border-radius: 50%;
}
button.Polaris-DatePicker__Day.Polaris-DatePicker__Day--next-selected:before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #EFDD17;
    border-radius: 50%;
}
.date-picker .Polaris-DatePicker__Day:hover{
    background: #EBEBEB;
    color: #303030;
}
.payment-info-header,.send-remider-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Polaris-LegacyStack__Item.detailed-container-item {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-block: 8px;
}
body * {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}
.payment-info-container {
    max-width: 359px;
    width: 359px;
}

@media screen and (max-width: 600px) {
    .date-picker-with-info {
        flex-direction: column;
    }
    .date-picker,.payments-info {
        max-width: 100%;
    }
    span.middle-border {
        width: 100%;
        height: 1px;
    }
    .payments-text {
        max-height: 100%;
        height: 100%;
    }
}
.payment-info-container {
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(100%);
}

.payment-info-container.active {
    display: block;
    transform: translateX(0); 
}


.payment-info-header .close-btn {
    cursor: pointer;
}

.mark-paid-modal-container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: none;
}

.mark-paid-modal-container.mark-paid-modal-active{
    display: block;
}
body.mark-paid-modal-active:before{
    display: block;
}
.mark-paid-modal-container-header .close-btn {
    cursor: pointer;
}
.mark-paid-modal-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.mark-paid-modal-container-detailed-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}
body:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: #00000045;
    display: none;
}
textarea {
    width: 100%;
    height: 155px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    resize: none; 
    line-height: normal;
    vertical-align: top; 
    box-sizing: border-box; 
  }
  textarea:focus {
    outline: none; 
  }
@media screen and (max-width:1024px){
    .info_container.payments{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:786px){
    .mark-paid-modal-container{
        width: 80%;
        top: 30%;
    }
}